.btn
    color: $font-color-dark
    height: 48px
    font-size: 16px
    font-weight: 200
    background: $sidebar-bg
    border: 1px solid $default-border-color
    border-radius: 3px
    padding: 13px 16px

    &:hover
        cursor: pointer

    &--primary
        color: $button-primary-text
        background: $primary-color
        border: 1px solid $primary-color-border

    &:disabled
        opacity: 0.5

        &:hover
            cursor: not-allowed

    &--modal
        height: 36px
        font-size: 12px
        padding: 10px 12px
        margin: 0 5px
