.card
    height: 98px
    background: transparent
    border: 1px solid $default-border-color
    display: flex
    justify-content: space-between
    align-items: center
    padding: 20px 20px 15px 20px
    font-weight: 200

    &--highlight
        border: 1px solid $primary-color-border
        background: $card-bg-highlight

    &--first
        border-radius: $default-border-radius $default-border-radius 0 0

    &--last
        border-top: none
        border-radius: 0 0 $default-border-radius $default-border-radius

    &__title
        font-size: 14px
        text-transform: uppercase
        padding: 10px 0

        &--highlight
            color: $primary-color

    &__amount
        font-size: 28px
        line-height: 100%
        font-weight: 400

    &__amount-currency
        padding-right: 5px
        
    &__amount-cents
        font-size: 20px
