.code-form
    &__header
        color: $modal-text
        font-weight: 600
        display: flex
    
    &__digits-container
        display: flex
        justify-content: space-between
        padding-top: 25px
        padding-bottom: 10px
    
    &__actions
        color: $font-color-dark
        display: flex
        justify-content: space-between
        font-size: 12px
        font-weight: 500

        svg
            color: $primary-color
            font-size: 18px
            position: relative
            top: 5px
            margin-right: 5px
        