.currency-tag
    width: 90px
    height: 47px
    color: $currency-tag-text
    display: flex
    align-items: center
    justify-content: center
    border: 1px solid $default-border-color
    border-radius: 24px 0 0 24px

    .flag-icon.flag-icon-squared
        width: 21px
        height: 21px
        border-radius: 50%
        position: relative
        left: -6px