.digit-input
    height: 54px
    width: 54px
    font-size: 30px
    text-align: center
    margin: 5px 0
    border-radius: 4px
    border: 1px solid $default-border-color

    &:active, &:focus
        outline: none
        border-color: $primary-color