.footer
    color: $font-color-light
    font-size: 12px
    display: flex
    justify-content: space-between
    border-top: 1px solid $default-border-color
    padding: 5px 0

    &__link
        color: $link-color
        font-weight: 200
        padding: 12px 7px
        text-decoration: none
