.loader
  margin: 0 0 2em
  height: 100%
  width: 100%
  text-align: center
  padding: 1em
  margin: 0 auto 1em
  display: inline-block
  vertical-align: top

  &__text
    display: none
    color: $primary-color

  svg
    width: 100px
    height: 100px
    
    path, rect
      fill: $primary-color
