.modal
    &__header
        padding: 32px 100px 20px 30px

    &__header-title
        color: $font-color-dark
        font-size: 18px
        font-weight: 300

        svg
            font-size: 28px
            position: relative
            top: -9px
            margin-bottom: -14px
            opacity: 0.3

    &__header-subtitle
        color: $modal-subheader-text
        font-size: 14px
        font-weight: 200
        line-height: 20px
        padding-top: 15px
        padding-left: 5px
    
    &__content
        height: 260px
        display: flex
        align-items: center
        justify-content: center
        background: $modal-content-background
        border-top: 1px solid $default-border-color
        border-bottom: 1px solid $default-border-color

    &__link
        color: $font-color-dark
        font-size: 12px

    &__footer
        font-size: 12px
        display: flex
        justify-content: space-between
        padding: 20px
