.page
    display: flex
    min-height: 100vh
    flex-direction: column

    *
        box-sizing: border-box

    &__header
        height: 66px
        box-shadow: 0 1px 3px 0 #000000 inset

    &__content
        display: flex
        flex: 1

    &__main-container
        width: 58%
        min-height: 100vh
        background: $main-bg
        padding: 57px $main-margin-right 5% $main-margin-left


    &__sidebar
        width: 42%
        min-height: 100vh
        background: $sidebar-bg
        border-left: 1px solid $default-border-color
        padding: 57px

    &__main
        flex: 1
    
    &__sidebar-footer
        padding: 20px
        display: none
