.phone-number
  &__area
    color: $phone-number-text
    background: #F0EDED
    border: 1px solid $phone-number-border
    border-radius: $default-border-radius 0 0 $default-border-radius
    padding: 6px 8px

  &__line-number
    color: $phone-number-text
    background: #F4F4F4
    border-width: 1px 1px 1px 0
    border-style: solid
    border-color: $phone-number-border
    border-radius: 0 $default-border-radius $default-border-radius 0
    padding: 6px 8px
