.steps-nav
    display: flex
    flex-direction: row
    align-items: flex-start
    font-weight: 200
    
    &__step
        flex: 1
        color: $font-color-light

        &--active
            color: $primary-color

    &__step-content
        padding-left: 45px
        padding-bottom: 10px

    &__step-title
        font-size: 12px
        padding-bottom: 4px

    &__step-subtitle
        font-size: 14px
        font-weight: 300


    &__underscore
        height: 4px
        background: $primary-color
        opacity: 0.2

        &--active
            opacity: 1

        &--first
            border-radius: 2px 0 0 2px

        &--last
            border-radius: 0 2px 2px 0
