.step
    padding: 30px 0 75px 0

    &__title
        font-weight: 500
        font-size: 18px
        padding-top: 15px

    &__subtitle
        font-weight: 300
        font-size: 14px
        color: #757575
        padding: 8px 0

    &__cards-container
        padding: 20px 0 36px 0
