.summary-table
    width: 312px
    font-size: 14px
    font-weight: 200
    background: $main-bg
    border: 1px solid $default-border-color
    border-radius: 3px

    &__row
        color: $table-row-text
        display: flex
        justify-content: space-between
        background: $main-bg
        padding: 17px 25px

        &--header
            color: $table-header-text
            background: $table-header-bg
        
        &--border-top
            border-top: 1px solid $default-border-color

        &--border-bottom
            border-bottom: 1px solid $default-border-color

        &--first
            border-radius: $default-border-radius $default-border-radius 0 0

        &--last
            border-radius: 0 0 $default-border-radius $default-border-radius

        &--highlight-secondary
            color: $secondary-color
            font-size: 12px
            justify-content: center

        &--section
            padding: 5px 18px

        &--section-top
            padding: 18px 18px 8px 18px
            
        &--section-bottom
            padding: 8px 18px 18px 18px

    &__primary-text
        color: $primary-color

        svg
            position: relative
            top: 2px
            left: 2px
