@media (max-width: 1200px)
   .page
        &__main-container
            padding-left: 5%
    
@media (max-width: 900px)
    .page
        &__main-container
            padding-left: 2%
            padding-right: 2%
        &__sidebar
            padding-left: 2%

@media (max-width: 810px)
    .page
        &__content
            flex-direction: column

        &__main-container
            width: 100%
            min-height: 100%

            .footer
                display: none

        &__sidebar
            width: 100%
            min-height: 100%
            padding: 5%

        &__sidebar-footer
            width: 100%
            display: block

    .header__logo
        margin-left: 0

    .step
        padding-bottom: 0
        
    .steps-nav
        &__step-content
            padding-left: 0

    .ReactModal__Content
        width: 430px !important
        height: 520px !important

@media (max-width: 500px)
    .ReactModal__Content
        width: 300px !important
        height: 540px !important

    .modal
        &__header
            padding: 15px

        &__link
            text-align: center

        &__footer
            display: block
            text-align: center

    .digit-input
        width: 40px
        height: 40px
        font-size: 14px
    
    .code-form
        &__header
            display: block
            text-align: center

    .phone-number
        &__area, &__line-number
            display: inline-block

    .footer__link
        display: block


// IE and EDGE LOADER FALLBACKS
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
    .loader
        svg
            display: none
        
        &__text
            display: block

@supports (-ms-ime-align:auto)
    .loader
        svg
            display: none
        
        &__text
            display: block


