@font-face {
  font-family: "PostGrotesk";
  font-weight: 700;
  src: url("assets/fonts/PostGrotesk-Bold.eot");
  src: url("assets/fonts/PostGrotesk-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/PostGrotesk-Bold.otf") format("opentype"),
    url("assets/fonts/PostGrotesk-Bold.woff2") format("woff2"),
    url("assets/fonts/PostGrotesk-Bold.woff") format("woff"),
    url("assets/fonts/PostGrotesk-Bold.ttf") format("truetype"),
    url("assets/fonts/PostGrotesk-Bold.svg#svgpostgrotesk") format("svg");
}

@font-face {
  font-family: "PostGrotesk";
  font-weight: 500;
  src: url("assets/fonts/PostGrotesk-Medium.eot");
  src: url("assets/fonts/PostGrotesk-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/PostGrotesk-Medium.otf") format("opentype"),
    url("assets/fonts/PostGrotesk-Medium.woff2") format("woff2"),
    url("assets/fonts/PostGrotesk-Medium.woff") format("woff"),
    url("assets/fonts/PostGrotesk-Medium.ttf") format("truetype"),
    url("assets/fonts/PostGrotesk-Medium.svg#svgpostgrotesk") format("svg");
}

@font-face {
  font-family: "PostGrotesk";
  font-weight: 300;
  src: url("assets/fonts/PostGrotesk-Book.eot");
  src: url("assets/fonts/PostGrotesk-Book.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/PostGrotesk-Book.otf") format("opentype"),
    url("assets/fonts/PostGrotesk-Book.woff2") format("woff2"),
    url("assets/fonts/PostGrotesk-Book.woff") format("woff"),
    url("assets/fonts/PostGrotesk-Book.ttf") format("truetype"),
    url("assets/fonts/PostGrotesk-Book.svg#svgpostgrotesk") format("svg");
}

@font-face {
  font-family: "PostGrotesk";
  font-weight: 200;
  src: url("assets/fonts/PostGrotesk-Light.eot");
  src: url("assets/fonts/PostGrotesk-Light.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/PostGrotesk-Light.otf") format("opentype"),
    url("assets/fonts/PostGrotesk-Light.woff2") format("woff2"),
    url("assets/fonts/PostGrotesk-Light.woff") format("woff"),
    url("assets/fonts/PostGrotesk-Light.ttf") format("truetype"),
    url("assets/fonts/PostGrotesk-Light.svg#svgpostgrotesk") format("svg");
}

@font-face {
  font-family: "PostGrotesk";
  font-weight: 700;
  src: url("assets/fonts/PostGrotesk-BoldItalic.eot");
  src: url("assets/fonts/PostGrotesk-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/PostGrotesk-BoldItalic.otf") format("opentype"),
    url("assets/fonts/PostGrotesk-BoldItalic.woff2") format("woff2"),
    url("assets/fonts/PostGrotesk-BoldItalic.woff") format("woff"),
    url("assets/fonts/PostGrotesk-BoldItalic.ttf") format("truetype"),
    url("assets/fonts/PostGrotesk-BoldItalic.svg#svgpostgrotesk") format("svg");
  font-style: italic;
}

@font-face {
  font-family: "PostGrotesk";
  font-weight: 500;
  src: url("assets/fonts/PostGrotesk-Medium.eot");
  src: url("assets/fonts/PostGrotesk-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/PostGrotesk-Medium.otf") format("opentype"),
    url("assets/fonts/PostGrotesk-Medium.woff2") format("woff2"),
    url("assets/fonts/PostGrotesk-Medium.woff") format("woff"),
    url("assets/fonts/PostGrotesk-Medium.ttf") format("truetype"),
    url("assets/fonts/PostGrotesk-Medium.svg#svgpostgrotesk") format("svg");
  font-style: italic;
}

@font-face {
  font-family: "PostGrotesk";
  font-weight: 300;
  src: url("assets/fonts/PostGrotesk-BookItalic.eot");
  src: url("assets/fonts/PostGrotesk-BookItalic.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/PostGrotesk-BookItalic.otf") format("opentype"),
    url("assets/fonts/PostGrotesk-BookItalic.woff2") format("woff2"),
    url("assets/fonts/PostGrotesk-BookItalic.woff") format("woff"),
    url("assets/fonts/PostGrotesk-BookItalic.ttf") format("truetype"),
    url("assets/fonts/PostGrotesk-BookItalic.svg#svgpostgrotesk") format("svg");
  font-style: italic;
}

@font-face {
  font-family: "PostGrotesk";
  font-weight: 200;
  src: url("assets/fonts/PostGrotesk-LightItalic.eot");
  src: url("assets/fonts/PostGrotesk-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/PostGrotesk-LightItalic.otf") format("opentype"),
    url("assets/fonts/PostGrotesk-LightItalic.woff2") format("woff2"),
    url("assets/fonts/PostGrotesk-LightItalic.woff") format("woff"),
    url("assets/fonts/PostGrotesk-LightItalic.ttf") format("truetype"),
    url("assets/fonts/PostGrotesk-LightItalic.svg#svgpostgrotesk") format("svg");
  font-style: italic;
}
